.hero-img{
    background: transparent url('../../assets/intro.jpeg') center/cover no-repeat;
}
.btn {
    padding: 1rem 2rem;
    background: #e2d277;
    color: black;
    font-size: 1rem;
    text-transform: uppercase;
  }
  