
.fed-collection {
    margin-top: 2rem;
  }
  .fed-collection-title {
      font-size: 2rem;
  
    }

  @media screen and (min-width:1024px) {
    .fed-collection .fed-prods{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;
    }
  }
  
  