
.fed-product {
  padding: 1rem;
  margin-left: 1rem 0;
}
.fed-img{
  cursor: pointer;
  flex: 3 1 100rem;
  padding: 1rem 0rem;
}
  p {
    font-size: 1.1rem;
    color:coral;
    font-weight: bold;
  }

h3 {
    font-size: 1.1rem;
    font-weight: 420;
  }