.prod-detail-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    height: 80vh;
    text-align:justify
}


.prod-detail {
    display: flex;
    flex: 1 1 50rem;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40%;
    padding: 0 7rem;
  }
  .add-to-cart-btn {
    margin: 2rem 0;
    display:flex;
    flex-direction: row;
  
  }
.add-to-cart-btn, #btn-cart{
    width: 90%;
    margin-left: 1rem;

}